<h2 id="title">Welcome to Ember.js</h2>

{{cart-counter}}

<ul class="items">
  {{#each items as |item|}}
  <li class="item">{{item.name}} <button {{action "addToCart" item}}>Add to cart</button></li>
  {{/each}}
</ul>

{{cart-items}}
